body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    height: 720px;
}

canvas {
    border-left: 1px black solid;
    border-Right: 1px black solid;
}

h2 {
    margin: -5px;
    margin-top: 3px;
    text-align: center;
}

.info {
    background: lightyellow;
    padding: 0 15px;
    overflow: auto;
}

.info>* {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 0 15px;
}

ul {
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0.4em 0;
}

.options {
    background: lavender;
    padding: 0 15px;
    user-select: none;
}

#mapCreatorDiv {
    margin: 10px;
}

#controls>* {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 15px;
    border-top: 2px black solid;
}

#mapCreatorControls {
    display: none;
}

#mapCreatorControls>* {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 15px;
    border-top: 2px black solid;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b1a20;
    color: #ececec;
    width: 242px;
    height: 37px;
    margin-top: 6px;
    padding: 6px 2px;
    text-align: center;
    border: 2px rgb(179, 179, 179) solid;
}

.btn:hover {
    background: #ffc918;
    color: #1b1a20;
    cursor: pointer;
}