body {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
    flex-wrap: wrap-reverse;
    border: 1px solid black;
}

.square {
    margin: 0;
    padding: 0;
}

.sqBlack {
    background: brown;
}

.piece {
    height: 100%;
}

.white {
    color: #ffffff;
    background: #b3b3b3;
    border: 1px black solid;
}

.black {
    color: #000000;
    background: #b3b3b3;
    border: 1px black solid;
}