body {
    text-align: center;
}

div {
    user-select: none;
}

.container {
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
    border: 1px solid black;
}

.boardOrientWhite {
    flex-wrap: wrap-reverse;
}

.boardOrientBlack {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.captures {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    width: 15%;
    margin: 0 10px;
    border: 1px solid black;
}

.capturedByBlack {
    background: brown;
}

.captures div {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.square {
    margin: 0;
    padding: 0;
}

.sqBlack {
    background: brown;
}

.piece {
    background: url(chessPieces.png);
    display: inline-block;
    height: 70px;
    width: 70px;
}

.white {
    background-position-y: 0px;
}

.black {
    background-position-y: 132px;
}

.rook {
    background-position-x: 0px;
}

.knight {
    background-position-x: -132px;
}

.bishop {
    background-position-x: -264px;
}

.queen {
    background-position-x: -396px;
}

.king {
    background-position-x: -528px;
}

.pawn {
    background-position-x: -660px;
}


#checked {
    color: red;
}

.promotePopUp {
    background: #cbbfbf61;
    position: absolute;
    justify-content: space-around;
    align-items: center;
}

#hidePopUp {
    display: none;
}

#showPopUp {
    display: flex;
}

.promoteButton {
    height: 100px;
    width: 125px;
}