body {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 10px;
}

#gameText {
    height: 35px;
    font-size: 1.7em;
    color: red;
}

div {
    user-select: none;
}

.container {
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
    border: 1px solid black;
}

.boardOrientWhite {
    flex-wrap: wrap-reverse;
}

.boardOrientBlack {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.captures {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    width: 15%;
    margin: 0 10px;
    border: 1px solid black;
    background: #EEDDC2;
}

.capturedByBlack {
    background: #6C2C20;
}

.captures div {
    width: 70px;
    height: 70px;
    margin: 10px;
}

.square {
    margin: 0;
    padding: 0;
    background: #EEDDC2;
}

.sqBlack {
    background: #6C2C20;
}

.piece {
    width: 100%;
    height: 100%;
}

.promotePopUp {
    background: #cbbfbf61;
    position: absolute;
    justify-content: space-around;
    align-items: center;
}

#hidePopUp {
    display: none;
}

#showPopUp {
    display: flex;
}

.promoteButton {
    height: 100px;
    width: 125px;
}