body {
    font-family: sans-serif;
    text-align: center;
}

#canvasContainer {
    position: relative;
    width: 800px;
    height: 810px;
    margin: auto;
}

#canvas {
    border: 2px solid black;
    position: absolute;
    left: 0;
    top: 0;
}

#canvas2 {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    user-select: none;
}

#mapFeaturesInfoContainer {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: auto;
}

#tileInfoContainer {
    text-align: start;
    width: 800px;
    position: absolute;
    margin-left: 66.6%;
    padding-left: 85px;
    border-top: 2px solid black;
}

#optionsContainer {
    position: absolute;
    width: 800px;
    background: #eeeeee;
    border: 2px solid black;
}

#optionsContainer>h2 {
    margin: 0;
    padding: 15px;
    background: #FFFFFF;
    border-bottom: 2px solid black;
}

.optionsSubContainer.dropdown {
    background: #ADD8E6;
    padding: 1px 0;
    margin: 5px;
    border: 1px solid #7e7e7e;
}

.optionsSubContainer.dropdown-expanded {
    padding-bottom: 15px;
}

.optionsSubContainer.dropdown>div {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 0px;
    overflow: hidden;
}

.optionsSubContainer.dropdown>h3 {
    cursor: pointer;
    user-select: none;
}

.optionsSubContainer.dropdown-expanded>div {
    height: 100%;
}

.optionsInputsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    margin: auto;
}

.optionsInputsContainer>label {
    justify-self: end;
}

.wideButton {
    grid-column-start: 1;
    grid-column-end: 3;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 0 6px;
}

.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 3px 6px;
}