body {
    font-family: sans-serif;
    text-align: center;
    position: relative;
    max-width: 2480px;
    margin: auto;
}

h1 {
    margin: 1em;
    margin-bottom: 1.4em;
}

#canvasContainer {
    position: relative;
    width: 804px;
    height: 804px;
    margin: auto;
    margin-bottom: 10px;
}

#canvas {
    border: 2px solid black;
    position: absolute;
    left: 0;
    top: 0;
}

#canvas2 {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mapFeaturesInfoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 21px;
    width: 800px;
    margin: auto;
}

#menuContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

#mapInfoContainer {
    width: 800px;
}

#tileInfoContainer {
    background: #eeeeee;
    border: 2px solid black;
}

#tileInfoContainer>h2 {
    margin: 0;
    padding: 15px;
    background: #FFFFFF;
    border-bottom: 2px solid black;
}

#tileInfoDiv {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    margin: 5px;
    min-height: 175px;
    padding: 31px 0;
    background: #ADD8E6;
    border: 1px solid #7e7e7e;
    cursor: default;
}

#tileInfoDivIntroText {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
}

#tileInfoDiv>* {
    margin-bottom: 7px;
}

.tileInfoLabel {
    -ms-grid-column-align: end;
    justify-self: end;
    text-align: end;
}

.tileInfoValue {
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#biomeCountContainer {
    margin-top: 11px;
    background: #eeeeee;
    border: 2px solid black;
}

#biomeCountContainer>h2 {
    margin: 0;
    padding: 15px;
    background: #FFFFFF;
    border-bottom: 2px solid black;
}

#biomeCountDiv {
    padding: 31px 0;
    background: #ADD8E6;
    border: 1px solid #7e7e7e;
}

.biomeCountEntry {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    margin: 5px;
    cursor: pointer;
}

.biomeCountEntry:hover {
    font-weight: bold;
}

.biomeCountBiome {
    -ms-grid-column-align: end;
    justify-self: end;
}

.biomeCountValue {
    -ms-grid-column-align: start;
    justify-self: start;
}

#optionsContainer {
    width: 800px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: #eeeeee;
    border: 2px solid black;
}

#optionsContainer>h2 {
    margin: 0;
    padding: 15px;
    background: #FFFFFF;
    border-bottom: 2px solid black;
}

.optionsSubContainer.dropdown {
    background: #ADD8E6;
    padding: 1px 0;
    margin: 5px;
    border: 1px solid #7e7e7e;
}

.optionsSubContainer.dropdown-expanded {
    padding-bottom: 15px;
}

.optionsSubContainer.dropdown>div {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    height: 0px;
    overflow: hidden;
}

.optionsSubContainer.dropdown>h3 {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.optionsSubContainer.dropdown-expanded>.optionsInputsContainer {
    position: relative;
    height: 100%;
    overflow: visible;
}

.optionsInputsContainer {
    width: 85%;
    margin: auto;
}

.optionsInputsContainer>* {
    margin-bottom: 7px;
}

.option {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
}

.option>label {
    -ms-grid-column-align: end;
    justify-self: end;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.option>#seedOptionContainer {
    -ms-grid-column-align: end;
    justify-self: end;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wideButton {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
}

.tallButton {
    padding: 6px 0;
}

[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    pointer-events: none;
    top: -35px;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
    background: #FFFFFF;
    padding: 5px 8px;
    border: 1px solid black;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow.up {
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 0 6px;
}

.arrow.down {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 3px 6px;
}


@media only screen and (max-width: 2400px) {
    #optionsContainer {
        width: 30%;
    }

    #mapInfoContainer {
        width: 30%;

    }
}

@media only screen and (max-width: 2050px) {
    #optionsContainer {
        width: 27%;
    }

    #mapInfoContainer {
        width: 27%;
    }
}

@media only screen and (max-width: 1800px) {
    #optionsContainer {
        width: 23%;
    }

    #mapInfoContainer {
        width: 23%;
    }
}

@media only screen and (max-width: 1530px) {
    #menuContainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 20px;
        top: 920px;
    }

    #optionsContainer {
        width: 800px;
    }

    #mapInfoContainer {
        width: 800px;
    }
}