body {
    font-family: sans-serif;
    text-align: center;
    position: relative;
    max-width: 2480px;
    margin: auto;
}

#canvasContainer {
    position: relative;
    width: 804px;
    height: 804px;
    margin: auto;
    margin-bottom: 10px;
}

#canvas {
    border: 2px solid black;
    position: absolute;
    left: 0;
    top: 0;
}

#canvas2 {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    user-select: none;
}

#mapFeaturesInfoContainer {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    width: 800px;
    margin: auto;
}

#menuContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

#tileInfoContainer {
    width: 800px;
}

#tileInfoContainer>h2 {
    margin: 0;
    margin-bottom: 31px;
    padding: 15px;
    background: #FFFFFF;
    border: 2px solid black;
}

#tileInfoDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    margin: auto;
}

#tileInfoDiv>* {
    margin-bottom: 7px;
}

.tileInfoLabel {
    justify-self: end;
    text-align: end;
}

.tileInfoValue {
    justify-self: start;
    align-self: center;
}

#optionsContainer {
    width: 800px;
    background: #eeeeee;
    border: 2px solid black;
}

#optionsContainer>h2 {
    margin: 0;
    padding: 15px;
    background: #FFFFFF;
    border-bottom: 2px solid black;
}

.optionsSubContainer.dropdown {
    background: #ADD8E6;
    padding: 1px 0;
    margin: 5px;
    border: 1px solid #7e7e7e;
}

.optionsSubContainer.dropdown-expanded {
    padding-bottom: 15px;
}

.optionsSubContainer.dropdown>div {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 0px;
    overflow: hidden;
}

.optionsSubContainer.dropdown>h3 {
    cursor: pointer;
    user-select: none;
}

.optionsSubContainer.dropdown-expanded>.optionsInputsContainer {
    height: 100%;
    overflow: visible;
}

.optionsInputsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    margin: auto;
}

.optionsInputsContainer>* {
    margin-bottom: 7px;
}

.optionsInputsContainer>label {
    justify-self: end;
}

.optionsInputsContainer>button {
    position: relative;
}

.wideButton {
    grid-column-start: 1;
    grid-column-end: 3;
}

.tallButton {
    padding: 6px 0;
}

button[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -35px;
    left: 190px;
    background: #FFFFFF;
    padding: 5px 8px;
    border: 1px solid black;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 0 6px;
}

.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 3px 6px;
}


@media only screen and (max-width: 2400px) {
    #optionsContainer {
        width: 30%;
    }

    #tileInfoContainer {
        width: 30%;

    }
}

@media only screen and (max-width: 2050px) {
    #optionsContainer {
        width: 27%;
    }

    #tileInfoContainer {
        width: 27%;
    }
}

@media only screen and (max-width: 1800px) {
    #optionsContainer {
        width: 23%;
    }

    #tileInfoContainer {
        width: 23%;
    }
}

@media only screen and (max-width: 1530px) {
    #menuContainer {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
        top: 920px;
    }

    #optionsContainer {
        width: 800px;
    }

    #tileInfoContainer {
        width: 800px;
    }
}