h1 {
    text-align: center;
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 920px;
    min-height: 540px;
    border: 1px solid black;
}

.message {
    margin: 5px;
}

.chatBarContainer {
    margin: 5px auto;
    width: 920px;
    height: 36px;
    display: grid;
    grid-template-columns: 1fr auto;
}

#chatBar {
    padding: 5px;
}
