body {
	text-align: center;
}

.messagesContainer {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 920px;
	min-height: 540px;
	border: 1px solid black;
}

.chatBarContainer {
	margin: auto;
	width: 920px;
	display: grid;
	grid-template-columns: 1fr auto;
}
