body {
    text-align: center;
}

#algorithmTimerDiv {
    display: flex;
    flex-direction: column;
    user-select: none;
}

#optionsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1600px;
    height: 114px;
    margin: 20px auto;
}

#options {
    display: grid;
    grid-template-columns: 275px 200px 275px;
}

#infoContainer {
    overflow: auto;
}

#runAlgorithmBtn {
    background: linear-gradient(#f6c88f, #ed9220);
}