body {
    text-align: center;
}

#algorithmTimerDiv {
    display: inline;
    user-select: none;
}

#options {
    width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: 275px 200px 200px;
}