body {
    text-align: center;
}

#optionsContainer {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 1600px;
    margin: auto;
}

#options {
    display: grid;
    grid-template-columns: 150px 150px 250px;
    margin: auto
}

#timerSpan {
    grid-column-start: 1;
    grid-column-end: 4;
}