.App {
  text-align: center;
  background: #fafafa;
  color: #1b1a20;
}

.main {
  width: 80%;
  margin: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  background: lightgrey;
  height: 100px;
}

article {
  width: 25%;
  padding: 5px;
}

.shelf-item-container {
  border: 1px #fafafa solid;
  margin-bottom: 25px;
}

.shelf-item-container:hover {
  border: 1px #c7c7c7 solid;
}
.shelf-item-container:hover .shelf-item-buy-btn {
  background: rgb(255, 201, 24);
  color: #1b1a20;
}

.shelf-item-card {
  text-decoration: none;
}

.shelf-item-container img {
  width: 100%;
  height: auto;
}

.shelf-item-name {
  height: 50px;
  font-size: 1.2em;
}

.shelf-item-price {
  font-size: 30px;
  font-weight: 500;
  padding: 4px;
}

.shelf-item-buy-btn {
  background: #1b1a20;
  color: #ececec;
  padding: 4px;
}

.shelf-item-shipping {
  position: absolute;
  color: #ececec;
  padding: 5px;
  font-size: .6em;
  background-color: #1b1a20;
  cursor: default;
}