.App {
  text-align: center;
  background: #fafafa;
  color: #1b1a20;
}

.main {
  width: 80%;
  margin: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  background: #e1e1e1;
  border-bottom: 1px #1b1a20 solid;
  /* height: 100px; */
}

article {
  width: 25%;
  padding: 5px;
}

.shelf-item-container {
  border: 1px #fafafa solid;
  margin-bottom: 25px;
}

.shelf-item-container:hover {
  border: 1px #c7c7c7 solid;
  cursor: pointer;
}
.shelf-item-container:hover .shelf-item-buy-btn {
  background: rgb(255, 201, 24);
  color: #1b1a20;
}

.shelf-item-card {
  text-decoration: none;
}

.shelf-item-container img {
  width: 100%;
  height: auto;
}

.shelf-item-name {
  height: 50px;
  font-size: 1.2em;
}

.shelf-item-price {
  font-size: 30px;
  font-weight: 500;
  padding: 4px;
}

.shelf-item-buy-btn {
  background: #1b1a20;
  color: #ececec;
  padding: 4px;
}

.shelf-item-shipping {
  position: absolute;
  color: #ececec;
  padding: 5px;
  font-size: .6em;
  background-color: #1b1a20;
  cursor: default;
}

.checkboxes {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 35px;
  height: 35px;
  font-size: .8em;
  margin-bottom: 8px;
  margin-right: 8px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  font-size: .8em;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  color: #1b1a20;
  background-color: #fafafa;
  border: 1px solid transparent;
}

.checkmark:hover {
    border: 1px solid #1b1a20;
}

.checkboxes label input:checked~.checkmark {
    background-color: #1b1a20;
    color: #ececec;
}