.App {
  text-align: center;
  background: #fafafa;
  color: #1b1a20;
}

.main {
  width: 80%;
  margin: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #1b1a20;    
  align-items: flex-end;
  margin-bottom: 25px;
  padding-top: 35px;
  height: 100px;
}

.filters div:nth-child(1) { justify-self: start; }
.filters div:nth-child(3) { justify-self: end; }

article {
  width: 25%;
  padding: 5px;
}

.shelf-item-container {
  border: 1px #fafafa solid;
  margin-bottom: 25px;
}

.shelf-item-container:hover {
  border: 1px #c7c7c7 solid;
  cursor: pointer;
}

.shelf-item-container:hover .shelf-item-buy-btn {
  background: #FFC918;
  color: #1b1a20;
}

.shelf-item-card {
  text-decoration: none;
}

.shelf-item-container img {
  width: 100%;
  height: auto;
}

.shelf-item-name {
  height: 60px;
  font-size: 1.2em;
}

.shelf-item-price {
  font-size: 2em;
  font-weight: 500;
}

.shelf-item-buy-btn {
  background: #1b1a20;
  color: #ececec;
  padding: 10px;
}

.shelf-item-shipping {
  position: absolute;
  color: #ececec;
  padding: 5px;
  font-size: .6em;
  background: #1b1a20;
  cursor: default;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 35px;
  height: 35px;
  font-size: .8em;
  margin-bottom: 8px;
  margin-right: 8px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  font-size: .8em;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  color: #1b1a20;
  background: #e1e1e1;
  border: 1px solid transparent;
}

.checkmark:hover {
  border: 1px solid #1b1a20;
}

.checkbox-container label input:checked~.checkmark {
  background: #1b1a20;
  color: #ececec;
}

.cart{
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;
  background: #1b1a20;
  box-sizing: border-box;
  -webkit-transition: right .2s;
  transition: right .2s;
  color: #ececec;
  z-index: 20;
}

.cart-open {
  right: 0px;
}

.cart-open .cart-open-btn {
  left: -50px;
  width: 50px;
  height: 50px;
}

.cart-open-btn {
  position: absolute;
  left: -60px;
  width: 60px;
  height: 60px;
  line-height: 50px;
  font-weight: 700;
  background: #1b1a20;
  color: #ececec;
  cursor: pointer;
}

.cart-header {
  padding: 10px;
  margin: 30px;
  font-size: 1.4em;
}

.cart-icon {
  display: inline-block;
  width: 60px;
  height: inherit;
}

.cart-image {
  display: inline-block;
  background-image: url("./media/icons/cart-icon.png");
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.cart-image-quantity {
  position: relative;
  min-width: 18px;
  padding: 0 2px;
  border-radius: 15%;
  font-weight: 700;
  font-size: .9rem;
  background: #FFC918;
  color: #0c0b10;
  bottom: -0.9rem;
  right: -0.9rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  text-align: left;
  height: 150px;
  padding-top: 5px;
  border-top: 1px #6c757d solid;
}

.cart-item img {
  height: 100%;
  padding-right: 10px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cart-item-name {
  font-size: 1.2em;
  font-weight: bolder;
}

.cart-item-desc {
  color: #c2c2c2;
}

.cart-item-desc select {
  margin-right: 15px;
  width: 50px;
  font-size: 0.8em;
}

.cart-item-right {
  display:flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-end;  
}

.cart-item-price {
  color: #FFC918;
  font-size: 1.4em;
  font-weight: 900;
  line-height: 86%;
 }

.cart-item-quantity {
  color: #c2c2c2;
  font-size: 0.7em;
  line-height: 26px;
}

.cart-shelf-container {
  position: relative;
  min-height: 280px;
  padding-bottom: 200px;
  height: 100%;
  overflow-y: scroll;
}

.cart-footer {
  font-size: 2em;
  box-sizing: border-box;
  padding: 5%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 2;
  background: #1b1a20;
  border-top: 2px #c2c2c2 solid;
}

.cart-total-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}

.cart-total-price {
  color: #FFC918;
  font-weight: 900;
}

/* cart scrollbar */
.cart-shelf-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.cart-shelf-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 1px solid #c2c2c2;
}

@media only screen and (max-width: 1366px) {
  .shelf-item-name {
    font-size: 1em;
  }
  .shelf-item-buy-btn {
    padding: 5px;
  }
}

@media only screen and (max-width: 1024px) {
  article {
    width: 33.33%;
  }
  .filters {
    padding-top: 0px;
  }  
}

@media only screen and (max-width: 640px) {
    article {
    width: 50%;
  }
}